@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    padding: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

main {
    width: 100%;
    background-color: #D9D9D9;
    padding: 25px;
    height: calc(100vh - 60px);
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: space-around;
}

input {
    width: 1226px;
    height: 60px;
    border: 1px solid #000000;
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    border-radius: 0px;
    color: black;
    outline: none;
}

.btn {
    width: 217px;
    height: 60px;
    background-color: black;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

img {
    width: 38px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 10px;
}

.table {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
}

td,
table,
th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;

}

table {
    width: 100%;
    margin-bottom: 10px;
}

td,
th {
    padding: 5px;
}

.nameSec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

tr {
    height: 60px;
}